body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute; 
	top: 0;
	left: 0;
}
.svg-container {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}
.user-container {
    padding: 10px 20px;
    position: absolute;
    z-index: 3;
    border: 2px solid steelblue;
    border-radius: 6px;
    background-color: #ffffff;
	box-sizing: border-box;
	height: 80px;
}
p {
	padding: 0;
	margin: 0;
}